/* Trenten Coffman
	Module 3.2 Assignment */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #2c3e50;
    color: #ffffff;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #D6A800;
    text-decoration: none;
}

a:visited {
    color: #b58900;
}

a:hover {
    color: #ffffff;
}
