html, body {
	font-size: 16px;
}

p {
	font-weight: 400;
	line-height: 1.4em;
}

h1 {
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-weight: 500;
	text-align: left;
	padding-top: 15px;
}

address {
	text-align: center;
}

address a {
	font-weight: bold;
	font-size: 1.25em;
	color: #4F3674;
	text-decoration: none;
}

address a:hover {
	text-decoration: underline;
	background-color: #D6A800;
}

address a:visited {
	color: #2E1F47;
}

.sentence {
	font-style: italic;
}

.intro {
	text-indent: 2em;
}