/* Trenten Coffman
	Module 6.2 Assignment */
header {
	background-color: #2c6ebd;
	color: white;
	padding: 20px;
	text-align: center;
}

header h1 {
	font-weight: 400;
}

#navbar {
	overflow: hidden;
	background-color: #444;
	border-bottom: solid 15px #2c6ebd;
}

#navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar a:hover {
	background-color: #2c6ebd;
	color: #fff;
}

#container {
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 50%;
	margin: auto;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
	text-align: center;
	font-size: 2em;
	color: #2c6ebd;
	font-weight: 400;
	margin-bottom: 10px;
}

.card-content {
	padding: 2px 16px;
}

footer {
	background-color: #2c6ebd;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
}

footer p {
	color: white;
	font-weight: 400;
	float: right;
	padding-right: 10px;
	font-style: italic;
}

footer a {
	text-decoration: none;
	color: white;
}

footer a:hover {
	text-decoration: underline;
}